@media (max-width: 1024px) {

    .cph-empresa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cph-empresa__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 70%;
    }

    .cph-property-card {
        flex: 0 0 46%;
        min-width: 46%;
        max-width: 46%;
        height: auto;
        min-height: 500px;
    }

    .cph-buy__bot {
        display: flex;
        gap: 20px;
        align-items: stretch;
    }


    .cph-buy__card {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--cph-color-primary-dark);
        padding: 20px;
        border-radius: 10px;
        max-height: 320px;

    }

}



/* #region Media Query Movil (600px) capital home */
@media screen and (max-width: 600px) {

    .cph-body {
        padding-top: 130px;
        width: 100%;
        overflow-x: hidden;
    }


    .cph-header {
        position: absolute;
        flex-direction: column;
        gap: 12px;
        padding: 15px 20px;
        background-color: var(--cph-color-primary-light);
    }

    .cph-header__center {
        display: none;
    }

    .cph-header__left {
        gap: 10px;
    }


    .cph-hero {
        min-height: 450px;
        padding: 0 25px;
        box-sizing: border-box;
    }

    .cph-hero__title {
        font-size: 38px;
        line-height: 1.2;
    }

    .cph-hero__text {
        font-size: 22px;
        margin: 15px 0 25px;
    }


    .cph-empresa,
    .cph-services,
    .cph-buy {
        padding: 40px 25px;
        box-sizing: border-box;
    }


    .cph-empresa {
        padding: 40px 25px;
    }

    .cph-empresa__box {
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .cph-empresa__card {
        flex: none;
        width: 100%;
        min-height: auto;
        padding: 30px 20px 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cph-empresa__text {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.6;
    }



    .cph-carousel {
        padding: 40px 0;

    }

    .cph-carousel__title {
        padding: 0 25px;

    }

    .cph-carousel__wrapper {
        padding: 20px 25px;

    }

    .cph-property-card {
        flex: 0 0 80%;
        min-width: 80%;
    }


    .cph-services__title {
        font-size: 30px;
        padding-left: 0;
        text-align: center;
    }

    .cph-services__box {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c";
        gap: 30px;
    }


    .cph-contact {
        padding: 60px 25px;
        margin-top: 60px;
    }

    .cph-contact__container {
        flex-direction: column;
        gap: 40px;
    }

    .cph-contact__title {
        font-size: 2.2rem;
        text-align: center;
    }

    .cph-contact__form-box {
        width: 100%;
        max-width: 100%;
        padding: 25px;
        box-sizing: border-box;
    }

    .cph-buy__bot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }


    .cph-footer {
        padding: 50px 25px;
    }

    .cph-footer__container {
        grid-template-columns: 1fr;
        gap: 45px;
        text-align: center;
    }

    .cph-footer__offices {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .cph-footer__list a {
        padding-left: 0;

    }

    .cph-footer__list a::before {
        display: none;

    }

    .cph-footer__bottom-links {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}

/* #endregion */




/* #region Media Query Index gastronomy */

@media (max-width: 1000px){
    .ind-gastronomy__imagebox{
        display: none;
    }
}

/* #endregion */


/* #region Media Query Index employee */

@media (max-width: 1000px){
    .ind-employee__top{
        gap: 15px;
    }

    .ind-employee__column1{
        display: none;
    }

    .ind-employee__column2{
        width: 100%;
    }

    .ind-employee__information{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ind-employee__card{
        width: 100%;
    }

    .ind-employee__documents{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .ind-employee__document{
        width: 100%;
    }

    .ind-employee__historic{
        overflow-x: scroll;
    }
}

@media (max-width: 750px){
    .ind-employee__header{
        display: flex;
        flex-direction: column;
    }
}


/* #endregion */