:root{
    --pt-color-principal: rgb(10, 10, 10);
    --pt-color-secundario: rgb(242, 242, 242);
    --pt-color-terciario: rgb(228, 195, 103);

    --pt-fuente-principal: 'Grenze Gotisch', serif;
    --pt-fuente-secundaria: "Pirata One", system-ui;
}

.pt-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--pt-color-principal);
    color: var(--pt-color-secundario);
}

.pt-header{
    width: 100%;
}

.pt-header__top{
    background-color: var(--pt-color-principal);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.pt-header__pt-navegator{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    font-family: var(--pt-fuente-principal);
    font-size: 20px;
}

.pt-header__imageLogo{
    width: 150px;
}

.pt-header__pt-RRSS{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.pt-header__rrssLogo{
    width: 25px;
    height: 25px;
}

.pt-header__hero{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),    
        url(Imagenes/pt-fondo.jpeg);
    background-size: cover;
}

.pt-header__box{
    opacity:1;
    background-color: var(--pt-color-principal);
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pt-header__title{
    font-size: 49px;
    font-family: var(--pt-fuente-principal);
}

.pt-header__text{
    font-size: 20px;
    width: 400px;
    text-align: center;
}


.pt-button{
    z-index: 1;
    padding: 25px;
    border-top: 2px solid var(--pt-color-terciario);
    border-bottom: 2px solid var(--pt-color-terciario);
    font-size: larger;
    font-family: var(--pt-fuente-secundaria);
        transition: 0.3s;
}

.pt-button:hover{
    color: var(--pt-color-terciario);
}


.pt-separator{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 490px;
}

.pt-separator__image{
    width: 225px;
    height: 400px;
}

.pt-separator__line{
    border: 3px solid var(--pt-color-terciario);
    background-color: var(--pt-color-terciario);
    width: 100%;
}


.pt-food{
    margin-top: 25px;
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pt-food__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pt-food__textBox{
    width: 70%;
}

.pt-food__title{
    font-size: 60px;
    font-family: var(--pt-fuente-principal);
    text-align: center;
}

.pt-food__text{
    font-size: 22px;
    text-align: center;
}

.pt-food__image{
    width: 45%;
}



.pt-events{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.pt-events__box{
    width: 70%;
    display: flex;
    justify-content: center;
}

.pt-events__columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.pt-events__column{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pt-events__title{
    font-family: var(--pt-fuente-principal);
    font-size: 40px;
}

.pt-events__text{
    font-size: 20px;
}

.pt-events__image{
    width: 30%;
}

.pt-separatorDown{
    margin-top: 25px;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pt-separator__text{
    font-family: var(--pt-fuente-secundaria);
    font-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
}